# fastwht folder
lib/fastwht/

# ds_store and logs
**/.DS_Store
**.log
**/.ipynb_checkpoints
# notebooks
**/.ipynb
tests/timings.ipynb

# Ignore figures directory
figures

# ignore paper/ except the following
!/paper
paper/*
!paper/sketching-convex-ols.tex
!paper/introduction.tex
!paper/count-sketch-properties.tex


# NB want to include the following in sandbox
lib/sandbox/*  # ignore everything in sandbox except...
!lib/sandbox/profiling_lasso.py

__pycache__

# Ignore all datasets except how to get them
!/data
/data/*
data/get_data/*.mat
!data/get_data/